* {
  margin: 0;
  padding: 0;
  font-family: calibri;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  border: 4px solid;
  border-color: gray;
  width: 90%;
}
ul {
  width: 75%;
}

li {
  margin: 10px;
  background-color: #fbfbfb;
}
li > div > strong {
  color: #095460;
  font-size: 16px;
}
li > div > p {
  font-size: 14px;
}

side-bar {
  display: flex;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 12px;
}
/* Styling links */
a {
  font-size: 1px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

button {
  background-color: #095460;
  color: white;
  padding: 5 10;
  margin-left: 10px;
}
/* LVHA */
